<link rel="stylesheet" href="/stylesheets/footerStyle.css">

<div class="footer">
    <img src="/images/githubWhite.png" alt="githubLogo" id="githubLogo">
    <a href="https://github.com/vojjtar" id="githubLink" target="_new">@vojjtar</a>
</div>