<link rel="stylesheet" href="/stylesheets/navbar.css">
<script src="/javascripts/navbar.js"></script>

<div id="navbar">
    <a id="logo" href="/">[T]</a>
    <a href="/login"><button class="buttonNavbar">LOGIN</button></a>
    <a href="/register"><button class="buttonNavbar">REGISTER</button></a>
    <a href="/api"><button class="buttonNavbar">API</button></a>
    <a href="/scoreboard"><button class="buttonNavbar">SCORE</button></a>
    <a href="/about"><button class="buttonNavbar">ABOUT</button></a>

    <button id="sandwich" onclick="toggle()">MORE</button>
</div>

<div id="navbarMiniWrap">
    <div id="iNeedThisWrapBecauseIcouldNotSetBackGroundColorOtherWiseSmileyFace"">
        <div id="navbarMini">
            <a href="/login"><button class="miniNavButt">LOGIN</button></a>
            <a href="/register"><button class="miniNavButt">REGISTER</button></a>
            <a href="/api"><button class="miniNavButt">API</button></a>
            <a href="/scoreboard"><button class="miniNavButt">SCORE</button></a>
            <a href="/about"><button class="miniNavButt">ABOUT</button></a>
        </div>
    </div>
</div>