<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/mainIndex.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[TRIVE]</title>
</head>
<body>
    <div id="wrapperMain">

        <%- include components/navbar.ejs %>

        <div id="wrapper">
            <div id="nadpisDiv">
                <h1 id="nadpis">[TRIVE]</h1>
            </div>
            <div id="horniDiv" class="divNaBut">
                <a href="/login">
                    <button class="buttony">LOGIN</button></a> <!-- to a musi bejt tady jinak to proste dela whitespace a divnou caru na strance -->
                <span id="spacerLoginRegister"></span>
                <a href="/register">
                    <button class="buttony">REGISTER</button>
                </a>
            </div>
            <div class="dolniDiv" class="divNaBut">
                <form action="/" method="POST">
                    <button type="submit" class="buttony" id="guestBut">GUEST</button>
                </form>
            </div>
            <div class="dolniDiv" class="divNaBut">
                <a href="/scoreboard">
                    <button class="buttony" id="scoreBoardBut">SCOREBOARD</button>
                </a>
            </div>
        </div>
    </div>

    <%- include components/footer.ejs %>

</body>
</html>