<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/loginRegister.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>

    <div id="wrapperMain">

        <%- include components/navbar.ejs %>

        <div id="wrapper">

            <% if (message) { %>
                <h2><%= message %></h2>
              <% } %>
            <% nadpis= 'Login page' %>
            <%- include components/loginRegisterBottomAndTop.ejs %>
            <form action="/login" method="POST">
                <div class="">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" class="inputFormy" required>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="inputFormy" autocomplete="off" required>
                </div>
                <button type="submit" id="submitButton">Login</button>
            </form>
            <a href="/register" id="toOtherPage">→ Register Page</a>
        </div>
    </div>


    <%- include components/footer.ejs %>

</body>
</html>